Current Location: <b>Dashboard</b>

<h1>Dashboard for <%= User.find(params[:user_id]).username%></h1>

<ul>
<% @sensors.each do |sensor| %>
  <li>
    <b>ID</b>: <%= sensor.id %> | <b>Type</b>: <%= sensor.sensorType %><br/>
  <%= link_to image_tag(fetch_sensor_image(sensor.sensorType), :width=>'100px'), user_sensor_readings_path(params[:user_id],sensor.id) %>
    <%= link_to "See Sensor Spec", user_sensor_path(params[:user_id], sensor.id) %>
  <div class="make-switch">
    <input type="checkbox" class="switch_state" id= <%= sensor.id.to_s + '_sensor' %> checked>
  </div>
</li>
<% end %>
<ul>