<div class="dashboard-header">
  <h1>DASHBOARD</h1>
</div>
<p>Current Location: <b>Dashboard</b></p>
<h3>You have <%= @sensors.length %> sensor<%= 's' if @sensors.length > 1 %></h3>

<div class="container">
  <% @sensors.each do |sensor| %>
    <div class="sensor-box">
      <div class="row">
        <div class="col-xs-3 col-md-1 text-center">
            <%= link_to image_tag(fetch_sensor_image(sensor.sensorType), :width=>'100px'), user_sensor_readings_path(params[:user_id],sensor.id) %>
        </div>
        <div class="col-xs-5 col-md-3">
          <h2><%= sensor.sensorType.upcase %></h2>
          <b>ID</b>: <%= sensor.id %>
            <%= link_to "See Sensor Spec", user_sensor_path(params[:user_id], sensor.id) %>
        </div>
        <div class="col-xs-2 col-md-3">
          <a class="btn btn-danger btn-circle" id=<%=sensor.sensorType%>-<%= sensor.id%>-btn>FETCH<br/>READING<br/>NOW!</a>
        </div>
      </div>
    </div>
  <% end %>
</div>


