<!DOCTYPE html>
<html>
<head>
  <title>GoSpyGo</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>


<% if logged_in? %>
  <p>Hello! <%= current_user.username %>
  <%= link_to 'USER PROFILE', user_path(current_user.id) %>
  <%= link_to 'LOG ME OUT', session_path(current_user.id), method: "DELETE" %></p>
<% else %>
  <%= link_to 'LOG IN', login_path %>
<% end %>


<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<% flash.each do |name, message| %>
   <div class="flash-message flash-message-<%= name %>">
   <%= message %>
   </div>
<% end %>


<%= yield %>

</body>
</html>
